<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqKvRI0aQK3u4tosmCsJo8P2oGUq3M_mU</string>
	<key>GCM_SENDER_ID</key>
	<string>787600193492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parenthelper.parent</string>
	<key>PROJECT_ID</key>
	<string>prime-kids</string>
	<key>STORAGE_BUCKET</key>
	<string>prime-kids.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787600193492:ios:d32dc907d50b684dbf8841</string>
</dict>
</plist>